*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.cabecera{
    margin: 10px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.cabecera nav a{
    padding: 5px;
}

.seccion-proyecto p{
    padding: 5px;
}

.cajas{
    display: flex;
    width: auto;
    height: 500px;
}

.caja{
    margin-top: 10px;
    border: 1px solid black;
    margin-left: 10px;
    width: auto;
    height: 300px;
}

.caja h2{
    text-align: center;
}

.cajas p{
    font-family: sans-serif;
    font-size: small;
    text-wrap: balance;
    padding: 10px;
}

.btn{
    border: 1px solid black;
    margin: 10px;
    padding: 2px;
    width: 100px;
    height: 100px;
}